
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}


header{
    position: fixed;
    width: 100%;
}




.container-navigation{

    background-color: #23252b;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    padding-left: 95px;
    

}




.a-logo{
    padding: 0 1.125rem;
    max-width: 172px;
}

.logo-icon {
    fill: #f47521;
   
    height: inherit;
    transition: fill .2s ease;

    width: 136px;
    height: 60px;

   


}

.logo-icon:hover {
    fill: white; 
}

.dropdown-toggle{
    color: #d4d1d4;
    font-weight: 500;
    font-size: 16px;

    padding-left: 1rem ;
    padding-right: 1rem ;

    display: flex;
    align-items: center;
    justify-content: center;
}

#dropd2{
    color: #d4d1d4;
    font-weight: 500;
    font-size: 16px;

    padding-left: 1rem ;
    padding-right: 1rem ;

    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown{
    padding-left: 1rem ;
    padding-right: 1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-nav{
    padding-left: 1rem ;
    padding-right: 1rem ;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #d4d1d4;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 100% ;
    height: 100%;
    

}

span{
    height: 100%;
    width: 100%;
}


#drop2:hover{
    background-color: #141519 ;

}
.dropdown-toggle:hover{
    background-color: #141519 ;

}

.link-nav:hover{
    background-color: #141519 ;

}

.icon-premium:hover{

    background-color:#141519 ;

}

.icon-premium{
    height: 100%;
    display: flex;
    
    align-items: center;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
}

.tooltip {
    position: absolute; /* Define a posição como absoluta para que o tooltip possa ser posicionado */
    bottom: 100%; /* Move o tooltip para cima do elemento pai */
    left: 50%; /* Centraliza horizontalmente em relação ao elemento pai */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    display: none; /* Inicialmente, o tooltip deve estar oculto */
    background-color: #f1f1f1; /* Cor de fundo do tooltip */
    padding: 10px; /* Espaçamento interno do tooltip */
    border: 1px solid #ccc; /* Borda do tooltip */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra do tooltip */
  }
  
  .icon-premium:hover .tooltip {
    display: block; /* Quando o mouse passar sobre o elemento pai, exiba o tooltip */
  }




.container-account{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 95px;
   
}



.search, .list {
    width: 34px;
    height: 1.75rem;
    fill: white;
    padding-left: 5px;

   
  }


  .icon-search, .icon-list, .icon-account {
    padding: 0.8125rem; 
    cursor: pointer;
  }



.icon-search:hover, .icon-list:hover, .icon-account:hover{
    background-color: #141519;
}

.drop-account{
    visibility: hidden; /* Inicialmente, a div está oculta */
    flex-direction: column; /* Defina a direção flex como coluna para empilhar elementos verticalmente */
    /* Adicione outros estilos de posicionamento e aparência, se necessário */
    background-color: #141519;
    display: none;
    width: 400px;
    padding: 0.875rem 1.5rem;
    transition: visibility 0s, opacity 0.5s;
    
    
}

.drop-account h5{
    --line-height: 1.5rem;
    font-size: 1rem;
    color:#e2e2e2;
    margin-top: .875rem;
    
    
}

.drop-account p{
    color:#a0a0a0;
    margin-bottom:1.5rem ;
    
    
}
  
  .drop-account.active {
    display: block; /* Quando ativa, a div é visível */
    opacity: 1;
    visibility: visible;
   
    
  }

    
  
 .nav-account{
    text-decoration: none;
    color: white;
 
    align-items: flex-start;
    height: 50px;
   
    
   
  }

  .teste:hover{
    background-color: #23252b;

  }

.nav-account:hover{
    background-color: #23252b;
    
}
.button-premium{
    background-color: #fab818;
    color: #141519;
    height: 2.8rem;
    font-weight: 700;
    font-size: .9rem;
    width: 100%;
    margin-top: .625rem;

}

.custom-dropdown {
    
    position: fixed;
    width: 100%;
    display: flex;
   
    
    background-color: #141519 ;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    padding-right: 200px;

   
  }

 
  /* Estilo para o efeito de desfoque no resto da tela */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com transparência */
    display: none;
    z-index: 999;
  }

 .categories{
    text-decoration: none;
    color: white;
    width: 200px;
    height: 42px;
    padding: 0.75rem  1.25rem;
    --line-height: 1.125rem;
    font-size: .875rem;
    align-items: center;
    display: flex;
    margin-right: 2.5rem;
    height: 100%;
 }

 .categories:hover{
    background-color: #23252b;
 }

 .categories-2{
    text-decoration: none;
   
    width: 200px;
    height: 42px;
    padding: 0.75rem  1.25rem;
    --line-height: 1.125rem;
    font-size: .875rem;
    align-items: center;
    display: flex;
    color: #e1e2e0;

    

 }
 .categories-2:hover{
    background-color: #23252b;
 }

li{
    list-style: none;
   
   
}

.gender{
    border-left: 0.125rem solid #23252b;
    padding-left: 2.5rem;
}


.gender-2{

    margin-top: 46px;


}


.gender-p{
    color: #999688;
    font-size: .8rem;
    padding-left: 3.0rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 0.75rem  1.25rem;

    
    
}
.gender-pp{
    width: 100%;
    z-index: 1;
    display: block;
    
}


.custom-dropdown2{
    position: fixed;
    
    display: flex;
    width: 18.75rem;
    padding: 0.625rem 0;
    height: 12.25rem;
    
    background-color: #141519 ;
   
   
    z-index: 1000;
    

    margin-left: 545px;
    

    

}


.news{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: start;
    padding: 0.75rem  0rem;
    --line-height: 1.125rem;
    font-size: .9rem;
    font-weight: 400;
   
   
    width: 18.75rem;
    padding-left: 16px;

   
    
}

.news:hover{
    background-color: #23252b;
}


/* Oculta o menu dropdown por padrão usando visibility */
.custom-dropdown {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    /* Outros estilos do seu dropdown aqui */
  }
  
  /* Quando o menu deve estar visível */
  .custom-dropdown.show {
    visibility: visible;
    opacity: 1;
  }
  

  .custom-dropdown2 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    /* Outros estilos do seu dropdown aqui */
  }
  
  /* Quando o menu deve estar visível */
  .custom-dropdown2.show {
    visibility: visible;
    opacity: 1;
  }

  /* Estilo para o hover ativo de "Navegar" e "Notícias" quando o menu dropdown estiver aberto */
.active-hover {
    background-color: #141519;
    color: white;
  }


  