
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black !important;
    
  
}


header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    
}



/* NAVIGATION */

.container-navigation{

    background-color: #23252b;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    padding-left: 95px;
  

}




.a-logo{
    padding: 0 1.125rem;
    max-width: 172px;
}
.logo-2{
  padding: 0 1.125rem;
display: none;
padding: 0.9rem;
padding-top: 1rem;
cursor: pointer;
height: 100%;

}

.logo-icon {
    fill: #f47521;
   
    height: inherit;
    transition: fill .2s ease;

    width: 136px;
    height: 60px;

   


}

.logo-icon2{
  fill: #f47521;
  height: inherit;
  transition: fill .2s ease;
  
  width: 34px;
  height: 100%;
  padding-left: 5px;

}

.logo-icon:hover {
    fill: white; 
}

.logo-icon2:hover{
  fill: white;
}

/* CONTAINER ACCOUNT */

.container-account{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 95px;
 
}


.link-nav{
    padding-left: 1rem ;
    padding-right: 1rem ;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #d4d1d4;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 100% ;
    height: 100%;
    

}

span{
    height: 100%;
    width: 100%;
}




.link-nav:hover{
    background-color: #141519 ;

}

.icon-premium:hover{

    background-color:#141519 ;

}

.icon-premium{
    height: 100%;
    display: flex;
    
    align-items: center;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
}

.tooltip {
    position: absolute;
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    display: none; 
    background-color: #f1f1f1; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .icon-premium:hover .tooltip {
    display: block;
  }





  



.search, .list {
    width: 32px;
    height: 1.75rem;
    fill: white;
    padding-left: 5px;

   
  }


  .icon-search, .icon-list, .icon-account{
    padding: 1rem; 
    padding-top: 1.1rem;
    cursor: pointer;
    height: 100%;
  }



.icon-search:hover, .icon-list:hover, .icon-account:hover, .premium-icon:hover{
    background-color: #141519;
}

.premium-icon {
  display: none; 
  padding: 0.9rem 0.7rem; 
  padding-top: 0.875rem;
  cursor: pointer;
  height: 100%;

}

/* DROPDOWN ACCOUNT */

.drop-account{
    visibility: hidden; 
    flex-direction: column; 
    opacity: 0;

    background-color: #141519;
    display: none;
    width: 400px;
    
    padding: 0.625rem 0rem;
   
    position: absolute;
    right: 95px;
    transition: visibility 0s, opacity 0.5s;
    
    
}

.buttonprem{
  padding:0rem 0.875rem
}



.drop-account h5{
    --line-height: 1.5rem;
    font-size: 1rem;
    color:#cccccc;
    margin-top: .875rem;
    
    
    
}

.drop-account span{
    color:#a0a0a0;
    margin-bottom:1.5rem ;
    --line-height: 1.125rem;
    font-size: .875rem;
    
    font-weight: 500;

    
}
  
  .drop-account.active {
    display: block; 

    opacity: 1;
    visibility: visible;
   
 
    
    
  }

    
  
 .nav-account{
    text-decoration: none;
    color: white;
 
    align-items: flex-start;
    height: 50px;
   
    
   
  }

.li-account{
  width: 100%;
  padding: 0.875rem 1.5rem;
}
.li-account:hover{
  background-color: #23252b;
}
.button-premium{
    background-color: #fab818;
    color: #141519;
    height: 2.8rem;
    font-weight: 700;
    font-size: .9rem;
    width: 100%;
    margin-top: .625rem;

}

/* DROPDOWN DESKTOP */

.custom-dropdown {
    
    position: fixed;
    width: 100%;
    display: flex;
   
    
    background-color: #141519 ;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    padding-right: 200px;

   
  }
  .dropdown-toggle{
    color: #d4d1d4;
    font-weight: 500;
    font-size: 16px;

    padding-left: 1rem ;
    padding-right: 1rem ;

    display: flex;
    align-items: center;
    justify-content: center;
}

#dropd2{
    color: #d4d1d4;
    font-weight: 500;
    font-size: 16px;

    padding-left: 1rem ;
    padding-right: 1rem ;

    display: flex;
    align-items: center;
    justify-content: center;

}

#drop2:hover{
  background-color: #141519 ;

}
.dropdown-toggle:hover{
  background-color: #141519 ;

}

.dropdown{
    padding-left: 1rem ;
    padding-right: 1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

 

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 999;
  }

 .categories{
    text-decoration: none;
    color: white;
    width: 200px;
    height: 42px;
    padding: 0.75rem  1.25rem;
    --line-height: 1.125rem;
    font-size: .875rem;
    align-items: center;
    display: flex;
    margin-right: 2.5rem;
    height: 100%;
 }

 .categories:hover{
    background-color: #23252b;
 }

 .categories-2{
    text-decoration: none;
   
    width: 200px;
    height: 42px;
    padding: 0.75rem  1.25rem;
    --line-height: 1.125rem;
    font-size: .875rem;
    align-items: center;
    display: flex;
    color: #e1e2e0;

    

 }
 .categories-2:hover{
    background-color: #23252b;
 }

li{
    list-style: none;
   
   
}

.gender{
    border-left: 0.125rem solid #23252b;
    padding-left: 2.5rem;
}


.gender-2{

    margin-top: 46px;


}


.gender-p{
    color: #999688;
    font-size: .8rem;
    padding-left: 3.0rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 0.75rem  1.25rem;

    
    
}
.gender-pp{
    width: 100%;
    z-index: 1;
    display: block;
    
}


.custom-dropdown2{
    position: fixed;
    
    display: flex;
    width: 18.75rem;
    padding: 0.625rem 0;
    height: 12.25rem;
    
    background-color: #141519 ;
   
   
    z-index: 1000;
    

    margin-left: 545px;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    

    

}


.news{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: start;
    padding: 0.75rem  0rem;
    --line-height: 1.125rem;
    font-size: .9rem;
    font-weight: 400;
   
   
    width: 18.75rem;
    padding-left: 16px;

   
    
}

.news:hover{
    background-color: #23252b;
}


.custom-dropdown {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  
  }
  

  .custom-dropdown.show {
    visibility: visible;
    opacity: 1;
  }
  


  

  .custom-dropdown2.show {
    visibility: visible;
    opacity: 1;
  }


.active-hover {
    background-color: #141519;
    color: white;
  }


  
.custom-dropdown.show {
    display: flex; 
   
  }

  /* DROPDOWN MOBILE */

  .menu-icon{
    display: none;
   padding-top: 1rem;
   padding: 1rem;
    cursor: pointer;
    
  }

  .menu-icon:hover{
    background-color: #141519;
  }
  .ico-menu{
    fill: white;
    width: 34px;
    height: 1.75rem;
    padding-left: 5px;
  }

  .custom-dropdown-mobile{
    display: none;
    background-color: #141519;
    flex-direction: column;
    position: relative;
    transition: visibility 0s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;

    
  }


  .categories-mobile-gener{
    align-items: center;
      color: #f8f8f8;
      cursor: pointer;
      display: flex;
      padding: 0.75rem 1.125rem;
    
      text-decoration: none;
      max-height: 48px;
      font-weight: 500;
  }
  
  .categories-mobile-gener:hover{
    background-color: #23252b;
  }


.categories-mobile{
  align-items: center;
    color: #f8f8f8;
    cursor: pointer;
    display: flex;
    padding: 0.75rem 1.125rem;
  
    text-decoration: none;
    max-height: 48px;
    font-weight: 500;
}

.categories-mobile:hover{
  background-color: #23252b;
}


.menu-icon.active-hover {
  
  background-color:#141519
  
}

.ico-drop{
  max-width: 34px;
  max-height:30px ;


  position: absolute; 
 
  right: 45px; 
  transform: translateY(-60%) rotate(90deg); 
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1); 
  fill: white;
 margin-top: 45px;

}

.ico-drop2{
  max-width: 34px;
  max-height:30px ;


  position: absolute; 
 
  right: 45px; 
  transform: translateY(-60%) rotate(90deg); 
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1); 
  fill: white;
 margin-top: 45px;

}

.ico-drop.up{
  transform: translateY(-90%) rotate(270deg); 
}


.ico-drop2.up{
  transform: translateY(-90%) rotate(270deg); 
}


.drop-mob{

  padding: 0.625rem 0;;
  border-bottom: 0.125rem solid #23252b;


}

.drop-mob2{
  padding: 0.625rem 0;
  margin-bottom: 1000px;
}

.dropdown-menu-mob{
  display: none;
 
    position: relative;
    color: #dadada;
    background-color: #2f3138;

}

.dropdown-menu-mob2{
  display: none;
 
    position: relative;
    color: #dadada;
    background-color: #2f3138;
}

.dropdown-menu-mob.show{
  display: flex;
  flex-direction: column;

}

.dropdown-menu-mob2.show{
  display: flex;
  flex-direction: column;

}

.sub-menu-item{
 
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.sub-li{
  padding: 0.875rem 2.375rem;
  cursor: pointer;
}
.sub-li:hover{
  background-color: #23252b;
  
}

/* SCROLLBAR */
.custom-dropdown-mobile.scrollable {
  max-height: 1500px; 
  overflow-y: auto;

  

  
  scrollbar-width: thin; 
  scrollbar-color:#444 #23252b; 
}


.custom-dropdown-mobile.scrollable::-webkit-scrollbar {
  width: 6px; 

}

.custom-dropdown-mobile.scrollable::-webkit-scrollbar-thumb {
  background-color: #444; 
 
}

.custom-dropdown-mobile.scrollable::-webkit-scrollbar-thumb:active {
  background-color: #b8b8b8; 
}

.custom-dropdown-mobile.scrollable::-webkit-scrollbar-track {
  background-color: #23252b; 
   
}


/* DROPDOWN-TABLET*/

.custom-dropdown-tablet{
  display: none;
  
  background-color: #141519;
  flex-direction: column;
  position: relative;
  max-width: 300px;
  transition: visibility 0s, opacity 0.5s;
  visibility: hidden;
  opacity: 0;

}


.custom-dropdown-tablet.show{
opacity: 1;
visibility: visible;
}

.drop-tablet{
  
  padding: 0.625rem 0;;
  border-bottom: 0.125rem solid #23252b;

}

.drop-tablet2{
  padding: 0.625rem 0;
  margin-bottom: 1000px;
}

.categories-tablet{

  align-items: center;
  color: #f8f8f8;
  cursor: pointer;
  display: flex;
  padding: 0.75rem 1.125rem;

  text-decoration: none;
  max-height: 48px;
  font-weight: 500;

}
.categories-tablet:hover{
  background-color: #23252b;
}
.dropdown-menu-tablet{
  display: none;
 
    position: relative;
    color: #dadada;
    background-color: #2f3138;

}

.dropdown-menu-tablet2{
  display: none;
 
    position: relative;
    color: #dadada;
    background-color: #2f3138;
}

.dropdown-menu-tablet.show{
  display: flex;
  flex-direction: column;

}

.dropdown-menu-tablet2.show{
  display: flex;
  flex-direction: column;

}

/* SCROLLBAR TABLET */
.custom-dropdown-tablet.scrollable {
  max-height: 1500px; 
  overflow-y: auto;

  

  
  scrollbar-width: thin; 
  scrollbar-color:#444 #23252b; 
}


.custom-dropdown-tablet.scrollable::-webkit-scrollbar {
  width: 6px; 

}

.custom-dropdown-tablet.scrollable::-webkit-scrollbar-thumb {
  background-color: #444; 
 
}

.custom-dropdown-tablet.scrollable::-webkit-scrollbar-thumb:active {
  background-color: #b8b8b8; 
}

.custom-dropdown-tablet.scrollable::-webkit-scrollbar-track {
  background-color: #23252b; 
   
}


.ico-drop-tablet{
  max-width: 34px;
  max-height:30px ;


  position: absolute; 
 
  right: 45px; 
  transform: translateY(-60%) rotate(90deg); 
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1); 
  fill: white;
 margin-top: 45px;

}

.ico-drop-tablet2{
  max-width: 34px;
  max-height:30px ;


  position: absolute; 
 
  right: 45px; 
  transform: translateY(-60%) rotate(90deg); 
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1); 
  fill: white;
 margin-top: 45px;

}

.ico-drop-tablet.up{
  transform: translateY(-90%) rotate(270deg); 
}


.ico-drop-tablet2.up{
  transform: translateY(-90%) rotate(270deg); 
}


/* MAIN DESKTOP*/

main {
width: 100%;
padding: 0;
margin: 0;


position: relative;
padding-top: 60px;
}

.container-main-desktop{
height: 100%;
width: 100%;
display: grid;


  background-image: url('https://static.crunchyroll.com/fms/landscape_large/94/png/41f85a50-9c9f-4bb2-b6ac-86f027be3019.jpg'); /* Defina a imagem de fundo inicial */
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5), 10px 0 10px rgba(0, 0, 0, 0.5);

}

.svg-slide{
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  fill: white;
  cursor: pointer;
  margin: auto;

  
}

.svg-slide:hover{
  fill: #dadada;
}

.svg-slide2{
  width: 40px;
  height: 40px;
  transform: rotate(0deg);
  fill: white;
  cursor: pointer;


  

}

.svg-slide2:hover{
  fill: #dadada;
}


.carousel-container {
  display: grid;


  align-items: center;
  position: relative;
  grid-template-columns: repeat(20,1fr) ;
  grid-template-rows: 1fr auto; 
  padding-top: 2.5rem;
  padding-left: 30px;
  padding-right: 30px;
  column-gap: 1.875rem;
 
  justify-self: start; 
  align-self: start; 
 


  width: 100%;
  

}



.slide {

  height: auto; 
  background-size: cover;
  background-position: center;
  color: white;
  transition: opacity 1.5s;
  display: grid;
  grid-column: 1/span 4;

  max-width: 100%;

  justify-self: start; 
  align-self: end; 

  
}

.slide.active {
  background-image: url('https://static.crunchyroll.com/fms/landscape_large/94/png/41f85a50-9c9f-4bb2-b6ac-86f027be3019.jpg');
  opacity: 1; 
}


.description {
  color: #dadada;
  

  width: 450px;
  white-space: unset;

  --line-height: 1.5rem;
  font-size: 1rem;

  font-weight: 500;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  

  text-overflow: ellipsis;
  overflow: hidden;
}

.controls{

width: 40px;

}

.controls2{

  width: 40px;

  display: grid;
  grid-column: 20;
  
  }
  



.shadowed-gradient {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%; 
}

#prevSlide {
  cursor: pointer;

}

#nextSlide {
  cursor: pointer;

  display: grid;
  grid-column: 6;
  
}

.buttons{
  display: flex;
  flex-direction: row;
}

.button-watching{
  background-color: #f47521;
    color: #141519;
    font-weight: 700;
    max-width: 250px;
font-size: 14px;

border: 0;
min-width: 7.5rem;
padding: 0 1rem;
text-transform: uppercase;
height: 2.5rem;

align-items: center;

margin-right: 10px;
margin-top: 2rem;


}

.svg-play{
  width: 24px;
  height: 24px;
  margin-right: 5px;
}


.button-fav{

  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #f47521 ;
  margin-top: 2rem;
}

.svg-fav{
  width: 24px;
  height: 24px;
  fill: #f47521;
}


.svg-yearsold{
  width: 24px;
  height: 24px;
  
  
}

.text-dub{
  --line-height: 1.125rem;
  font-size: .875rem;
  color: #a0a0a0;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}


.description-watching{
  display: grid;
  grid-column: 1/span 4;

  max-width: 100%;

  justify-self: start; 
  align-self: end; 
}




.slide img {
  max-width:100%;
  height: auto;


  margin-top: 100px;
 
}

#spy{
  margin-top: 204px;
}

.carousel-indicator {
  display: flex;
  justify-content: flex-start;


  z-index: 10;
  height: 20px;
  padding-top: 4.5rem;

  padding-left: 100px;

}

.indicator-item {
  width: 24px;
  height: 8px;
  border-radius: .25rem;
  background-color: #A9A9A9; /* Cinza por padrão */
  margin: 0 5px;
  cursor: pointer;
  
}



/* MAIN MOBILE*/

.container-main-mobile{
  display: none;
  max-width: 575px;

  height: 100%;
width: 100%;
display: grid;


  background-image: url('https://static.crunchyroll.com/fms/landscape_large/94/png/41f85a50-9c9f-4bb2-b6ac-86f027be3019.jpg'); /* Defina a imagem de fundo inicial */
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5), 10px 0 10px rgba(0, 0, 0, 0.5);
}





/* SECTION */

.assista{
  display: flex;
  flex-direction: column;
  
  padding-left: 100px;
  padding-top: 6rem;

}

.assista-gratis{
  z-index: 100;

  color: white;
  font-size: 28px;
}

.populares{
  margin-top: 0.5rem;
  z-index: 100;

  color: #a0a0a0;
  font-size: 16px;
  padding-bottom: 10px;
}


.container-imagens-anime{
  z-index: 10;
  position: relative;

  display: flex;
  flex-direction: row;
  padding-left: 85px;
  overflow-x: hidden;
  transition: transform 0.5s;

  width: 100%;
  
 
}

.container-imagens-anime img{
  max-width: 290px;
  height: auto;
  padding: 0px 15px;

  flex: 0 0 16.66%; 

 
}

.svg-slide-anime{
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  fill: white;
  cursor: pointer;
 position: absolute;
 left: 1670px;
  z-index: 100;

  top: 40%;
 

}

.svg-slide-anime2{
  width: 40px;
  height: 40px;
  transform: rotate(0deg);
  fill: white;
  cursor: pointer;
  position: absolute;
  right: 10px;
  z-index: 100;


  top: 40%;

}

.svg-slide-anime:hover{
  fill: #dadada;
}

.svg-slide-anime2:hover{
  fill: #dadada;
}

.hidden-button-slide {
  display: none;
}


.vinland-saga-shadow {
  box-shadow: 5000px 5000px 5000px rgba(0, 0, 0, 1); /* Adiciona sombra quando a classe é aplicada */
}


.container-anime{
  display: flex;
  flex-direction: column;
}



.titulo-anime{
  padding: 0px 15px;
  color: white;
  font-size: 14px;

  padding-top: 9px;

  font-weight: 500;
}

.LegDub{
  padding: 5px 15px;
  color: #999688;
  font-size: 13px;
}



/* SECTION 2 */

.container-dead-mount{
  display: flex;
  justify-content: center;
 padding: 70px 0px;



}

.container-dead-mount img{
  cursor: pointer;
}


/* SECTION 3 */


.container-calendar-novos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-calendar{
  display: flex;
  max-width: 350px;

position: absolute;
right: 100px;
  align-items: center;
  cursor: pointer;
}

.container-novos{
  display: flex;
  align-items: center;
  padding-left: 100px;

}

.svg-novos-lancamentos{
  height: 40px;
  width: 40px;
  fill: white;

  margin: 4px 4px 0px 0px;

}

.svg-calendar{
  fill: #999688;
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
  
}

.text-calendar{
  color: #999688;
  font-weight: 700;
  font-size: 14px;
  
  
}

.text-novos-lancamentos{
  color: white;
  font-size: 29px;
  font-weight: 500;
}


.container-animes{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding: 0px 100px;
}

.container-animes-father{
  display: flex;
  flex-direction: row;

  padding-top: 10px;
}


.container-hoje-animes1{
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;

  
}
.container-hoje-animes1 img{
  max-height: 82px;
  width: auto;
  padding-right: 10px;
}

.container-hoje-animes2{
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;

  margin-left: 60px;

  
}
.container-hoje-animes2 img{
  max-height: 82px;
  width: auto;
  padding-right: 10px;
}

.container-hoje-animes3{
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  margin-left: 60px;

  
}
.container-hoje-animes3 img{
  max-height: 82px;
  width: auto;
  padding-right: 10px;
}
.text-hoje{
  color: white;
  font-size: 22px;
  font-weight: 500;
  border-bottom: #606063 solid 2px;
  padding-bottom: 0.5rem;
  width: 100%;
  display: inline-block;
  
}

.father-div-ep{
  display: flex;
  flex-direction: row;

  cursor: pointer;

  padding-bottom: 10px;

  width: 100%;
  height: 100%;
}

.father-itens-ep{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;


}

.father-itens-ep2{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  max-height: 82px;


}



.svg-king{
  max-width: 24px;
  max-height: 24px;
  fill: #fab818;
}

.titulo-anime2{
padding: 0;
max-height: 50px;
min-width: 256px;
max-width: 256px;
font-weight: 500;


color: white;
font-size: 14px;

padding-top: 9px;

font-weight: 500;
}

.n-episodio{
color: #999688;
font-size: 13px;
font-weight: 400;
max-height: 20px;
}

.legdub-ep{
  color: #999688;
  font-size: 14px;
  font-weight: 400;
  max-height: 18px;
  
}

.horario-ep{
  color: #2abdbb;
  font-size: 14px;
  font-weight: 500;

  text-align: end;
  max-width: 40px;
  min-height: 100%;
  padding-left: 100px;
  padding-top: 65px;
  

}

.button-ver-mais{
background-color: #213944;
color: #fff;
width: 50%;
margin: 50px auto;
min-height: 40px;
font-size: 14px;
font-weight: 700;



border: none;
}




/* SECTION MAIS POPULARES */

.text-mais-populares{
  padding-left: 100px;

  color: white;
  font-size: 29px;
  font-weight: 500;

}

.container-imagens-anime2{
  z-index: 10;
  position: relative;

  display: flex;
  flex-direction: row;
  padding-left: 85px;
  overflow-x: hidden;
  transition: transform 0.5s;
  

  width: 100%;
  
 padding-top: 15px;
}

.container-anime{
  cursor: pointer;
}

.container-imagens-anime2 img{
  max-width: 290px;
  height: auto;
  padding: 0px 15px;

  flex: 0 0 16.66%; 

 
}




/*SECTION AINDA ESTÁ PROCURANDO ALGO PARA ASSISTIR?*/

.container-assistir{
  display: flex;
  flex-direction: column;
align-items: center;
  padding-top: 50px;
  justify-content: center;

}


.text-algo-assistir{
  color: white;
  font-weight: 500;
  font-size: 20px;

  text-align: center;
  
}


.button-ver-tudo{
  background-color: transparent;
  border: #f47521 solid 2px;
  color: #f47521;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 20px;

  margin-top: 24px;


  margin-bottom: 3.75rem;
}

.button-ver-tudo:hover{

  border: #ff8a3c solid 2px;
  color: #ff8a3c;

}



/* FOOTER */



.container-footer{
  display: flex;

  flex-direction: column;

  background: #000 linear-gradient(180deg,#0000,#213944);


 

  padding: 0px 100px;

 
}


.container-footer img{

max-width: 158px;
  max-height: 12px;

  margin: 0px 0.5rem;

}
.ul-itens-rede{
display: flex;
flex-direction: row;
justify-content: center;
align-items: start;
text-align: start;




}


.container-sony{
  display: flex;
  flex-direction: row;

  align-items: center;

  border-top: solid #63636e 2px;;

  margin: 0px 280px;

  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.container-translate{
  align-items: center;
  color: #a0a0a0;
  cursor: pointer;
  display: flex;
  height: 100%;
 
  transition: background-color .2s ease,color .2s ease;
  width: 100%;

  justify-content: end;

}


.container-sony p{
  color:#a0a0a0 ;
  border-left: solid #a0a0a0 1px;
min-width: 150px;
  padding-left: 0.5rem;
}



.svg-drop-translate{
  max-width: 24px;
  max-height: 24px;
  fill: white;

  margin-right: 8px;
}

.text-translate{
  color: #a0a0a0 !important;
  font-size: 14px;

  align-self: flex-end;
    max-width: 100%;
    width: auto;
height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.75rem;
padding: 10px;
    justify-content: end;


}

.text-translate:hover{
  background-color: #23252b;
}


.a-footer {
  text-decoration: none;
  color:#a0a0a0;

  --line-height: 1.125rem;
  font-size: .84rem;
  font-weight: 500;
}

.a-footer:hover{
  text-decoration: underline;
  color: white;
}


.container-footer li{


  margin-bottom: 0.625rem;
}



.container-footer span{
  color: white;

  font-weight: 500;


}

#teste-gratuito a:hover svg path {
  fill: white;


}


.container-footer ul{
  padding: 0px 15px;

  min-width: 280px;

 
}


.svg-king2{
  max-width: 24px;
  max-height: 24px;
  fill: #fab818;
}





#teste-gratuito{
  color: #fab818;

  max-height: 18px;

  text-decoration: none;
}

#teste-gratuito:hover{
  color: white;
  font-weight: 500;
  text-decoration: underline;
 

}

.span{
  margin-bottom: 0.75rem;
}


.svg-rede{
  max-width: 24px;
  max-height: 18px;
  fill: #a0a0a0;
}


.svg-rede path:hover {
  fill: white;
}

.svg-rede a:hover svg path{
  fill: white;
}


.drop-translate{
  display: none;



  background-color: #23252b;
}



.drop-translate.show{
  display: flex;
  position: absolute;
  right: 370px;
top: 4455px;
  background-color: #23252b;
  flex-direction: column;
  align-items: start;

  max-width: 200px;
  max-height: 460px;




}


.drop-translate a{
  color: #a0a0a0;
}


.li-translate{
  padding: 0.875rem 2.375rem;
  cursor: pointer;

  width: 100%;
}
.li-translate:hover{

 background-color: #141519;
  
}

.li-translate:hover a{
  color: white;
}

.text-translate.active-hover:hover{
  background-color:#23252b;
}


.drop-translate.scrollable {
  max-height: 460px; 
  overflow-y: auto;

  

  
  scrollbar-width: thin; 
  scrollbar-color:#444 #23252b; 
}


.drop-translate.scrollable::-webkit-scrollbar {
  width: 6px; 

}

.drop-translate.scrollable::-webkit-scrollbar-thumb {
  background-color: #444; 
 
}

.drop-translate.scrollable::-webkit-scrollbar-thumb:active {
  background-color: #b8b8b8; 
}

.drop-translate.scrollable::-webkit-scrollbar-track {
  background-color: #23252b; 
   
}
/* RESPONSIVIDADE */


@media screen and (min-width: 1115px) {

  .custom-dropdown-tablet.show{
    display: none;
  }
}
  @media screen and (max-width: 1115px) {

   .dropdown {
    display: none;

 
  }
  .menu-icon {
    display: flex; 
    
  }
.container-account{
    padding-right: 0rem;
    
}

.container-navigation{
    padding-left: 0rem;
  
  }

  #end{
    padding: 0;
    margin: 0;
    margin-left: 15px;
  }

  .drop-account{
    right: 0px;
  }

  .icon-account{
    padding: 1rem;
    padding-top: 1.1rem;
  }

  .custom-dropdown-tablet.show{
    display: flex;

  }

  }

  


  
  @media screen and (max-width: 575px) {
    .premium-icon {
display: flex;
    }
    .icon-premium{
      display: none;
    }

    .icon-list{
      display: none;
    }
    .logo-2{
      display: flex;
    }
    .a-logo{
      display: none;
    }
.drop-account{
  
  right: 0px;
  width: 100%;
  height: 1000px;
  padding: 0rem;
  padding-top: 0.625rem ;
  padding-bottom:0.625rem ;

}
.buttonprem{
padding: 0rem 0.675rem;

}
.custom-dropdown-mobile.show{
  display: flex;
  visibility: visible;
  opacity: 1;
}

.custom-dropdown-tablet.show{
  display: none;
  
}

.container-main-desktop{
  display: none;
}


.container-main-mobile{
  display: grid;
}



.container-main-mobile{
  max-width: 575px;
}
.container-imagens-anime{
  max-width: 575px;
}

.container-dead-mount{
  max-width: 575px;
}

.container-animes{
  max-width: 575px;
}

.container-imagens-anime2{
  max-width: 575px;
}


.container-assistir{
  max-width: 575px;
}

.container-footer{
  max-width: 575px;
}
  }